.bookpage {
    z-index: 0;
    padding: 100px;
    position: relative;
}

.books-title {
    padding: 10px;
    width: 80%;
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0 auto;
    z-index: 0;
}

#BookReviews {
    padding-top: 75px;
    margin-top: -75px;
}

#BookDescription {
    padding-top: 75px;
    margin-top: -75px;
}