.bookpage {
    z-index: 0;
    padding: 0px;
    position: relative;
}

.books-title {
    padding: 20px;
    width: 80%;
    height: 80px;
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0 auto;
    z-index: 0;
}

h1 {
    font-weight: bold;
    margin: 0 auto;
    font-size: 50px;
  }
  
  h2 {
    
    
    font-size: 30px;
  }
  

  .pad{
      padding: 20px;
  }