.bookpage {
    z-index: 0;
    padding: 15px;
    position: relative;
}

.books-title {
    padding: 10px;
    width: 80%;
    height: 140px;
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0 auto;
    z-index: 0;
}

h1 {
    font-weight: bold;
    margin: 0 auto;
    font-size: 60px;
  }
  
  h2 {
    
    
    font-size: 30px;
  }