* {
    margin:0px;
    padding:0px;
  }

  h1 {
    text-align: center;
    margin: 150px auto;
  }

  h2 {
    font-family: "Verdana", Geneva, sans-serif;
    margin: 50px auto;
    width: 800px;
  }

  h3 {
  font-family: "Verdana", Geneva, sans-serif;
  margin: 50px auto;
  width: 700px;
  font-size: 20px;
}
  p {
    display: block;
    width: 600px;
    margin: 50px auto;
    font-size: 15px;
    font-family: "Verdana", Geneva, sans-serif;
  }
  
  .standard-btn {
    font-size: 15px;
    padding: 10px;
  }

  .homelogo {
    text-align: center;
  }

ul.sign-up {
    list-style-type: none;
    width: 600px;
    margin: 50px auto;
    font-size: 15px;
    font-family: "Verdana", Geneva, sans-serif;
}

ul.sign-up li {
    padding-bottom: 15px;
}

ul.sign-up li.nickname {
  font-size: 13px;
  padding-left: 10px;
}

 ul.myaccountmenu {
    padding: 10px 16px 10px 100px;
    list-style: none;
    background-color: #eee;
    color: #444;
    font-family: "Verdana", Geneva, sans-serif;
 
  }

/* Display list items side by side */
ul.myaccountmenu li {
  display: inline;
  font-size: 14px;
  font-weight: bold;
}
/* Add a slash symbol (/) before/behind each list item */
ul.myaccountmenu li+li:before {
  padding: 8px;
  color: #444;
  content: "/\00a0";
}
/* Add a color to all links inside the list */
ul.myaccountmenu li a {
  color: #444;
  text-decoration: none;
  font-weight: normal;
}
/* Add a color on mouse-over */
ul.myaccountmenu li a:hover {
  color: #0079e2;
}