.nav {
    width: 80%;
    position: fixed;
    background-color: rgb(196, 235, 240);
    top: 100px;
    left: 10%;
    height: 70px;
    
    z-index: 200;
    
}


.navcontent {
    position: absolute;
    width: 800%;
    padding: 0px;
    display: flex;
    bottom: 0px;
}

.navcontent a {
    bottom: 0px;
    border-bottom: 0px;
    position: relative;
    padding: 0px 0px 0px 0px;
    color: rgb(80, 80, 80);
    text-decoration: none;
    font-size: 20px;
    z-index: 400;
    
    float: right;
    margin: 0 auto;
}
.button {
    padding: 0;
}

.navcontent a:hover {
    text-decoration: none;
    color: rgb(0, 151, 189);
}

.genrecontent {
    display: flex;
    justify-content: flex-end;
    float: left;
    margin: 0 auto;
    width: 100%;
    position: absolute;
}

@media (max-width: 1000px) {
    .navcontent {
        display: none;
    }
  }

